<html>
<head>
    <!-- Set title -->
    <title>{{title}}</title>
    <!-- Set meta charset -->
    <meta charset="utf-8">
    <!-- Set meta tags -->
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <!-- Set meta author -->
    <meta name="author" content="{{author}}">
    <!-- Set OG meta tags -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:url" content="{{url}}">
    <!-- Set viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set favicon -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <!-- Load styles -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Load all scripts -->
    <script src="/js/sizeToString.js"></script>
</head>
<body>