<html>
<head>
    <!-- Set title -->
    <title>{{title}}</title>
    <!-- Set meta charset -->
    <meta charset="utf-8">
    <!-- Set OG meta tags -->
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{image}}">
    <meta property="og:url" content="{{url}}">

</head>