<!-- Include header from partials -->
<%- include('partials/header.ejs', { title: "Home", description: "ThunderHaste: A simple Hastebin server." }) %>

<h1>Nothing here yet</h1>

<!-- Include footer -->
<%- include('partials/footer.ejs', { totalCount: totalCount, totalSize: totalSize }) %>