<!-- Include header from partials -->
<%- include('partials/header.ejs', { name: "ThunderHaste", title: errorId, description: error }) %>
<h1>Error <%= errorCode %></h1>
<p><%= error %></p>
<!-- Include footer -->
<%- include('partials/footer.ejs') %>