<!-- Include header from partials -->
<%- include('partials/header.ejs', { name: name, title: "Home", description: "ThunderHaste: A simple Hastebin server." }) %>

<h1>Hi! This is a placeholder.</h1>

<!-- Include footer -->
<%- include('partials/footer.ejs', { totalCount: totalCount, totalSize: totalSize }) %>