.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.button-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.button-secondary {
  color: #fff;
  background-color: #fff;
  border-color: #ccc;
}

.button-secondary:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.button-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.button-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.button-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.button-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}